<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="main-suite">
    <test name="CalculationAreaActionTest">
        <classes>
            <class name="by.epam.action.CheckCalculationAreaActionTest"/>
        </classes>
    </test>
    <test name="CalculationPerimeterActionTest">
        <classes>
            <class name="by.epam.action.CheckCalculationPerimeterActionTest"/>
        </classes>
    </test>
    <test name="OrthogonalTriangleActionTest">
        <classes>
            <class name="by.epam.action.CheckOrthogonalTriangleActionTest"/>
        </classes>
    </test>
    <test name="ShapeValidatorTest">
        <classes>
            <class name="by.epam.validation.ShapeValidatorTest"/>
        </classes>
    </test>
    <test name="TriangleValidatorTest">
        <classes>
            <class name="by.epam.validation.TriangleValidatorTest"/>
        </classes>
    </test>
    <test name="CompareTrianglesTest">
        <classes>
            <class name="by.epam.compare_triangles.CompareTrianglesTest"/>
        </classes>
    </test>
</suite>



